<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
        <property name="hibernate.connection.url">jdbc:sqlserver://localhost:1433;database=FarVoice</property>
        <property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password">sa123456</property>

        <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.current_session_context_class">thread</property>
  
  		<mapping class="model.CustomerBean"/>
  		<mapping class="model.ProductBean"/>
		<mapping class="model.Bean.BackerBean"/>
		<mapping class="model.Bean.FollowBean"/>
		<mapping class="model.Bean.FundingBean"/>
		<mapping class="model.Bean.ListMusicBean"/>
		<mapping class="model.Bean.MemberBean"/>
		<mapping class="model.Bean.MemberCommentMusicBean"/>
		<mapping class="model.Bean.MemberLikeMusicBean"/>
		<mapping class="model.Bean.MessageBean"/>
		<mapping class="model.Bean.MusicBean"/>
		<mapping class="model.Bean.PlaylistBean"/>
		<mapping class="model.Bean.PostBean"/>
		<mapping class="model.Bean.ReportBean"/>
		<mapping class="model.Bean.RewardBean"/>
		<mapping class="model.Bean.StoryBean"/>
    </session-factory>
</hibernate-configuration>
