.blockHead {
	width: 57%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    padding-left: 20px;
}
.week-count{
	font-family: Microsoft JhengHei;
	width: 57%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    margin: auto;
    padding-left: 20px;
}
.blockHead a.pull-right {
	padding-bottom: 5px;
	border-bottom: 3px solid transparent;
	transition: .2s all ease
}

.blockHead a.pull-right:hover {
	border-bottom-color: #eb4b4b;
	color: #eb4b4b
}

.catNav li {
	font-weight: bold;
    font-size: 15px;
	font-family: Microsoft JhengHei;
	display: inline-block;
	padding-bottom: 5px;
	margin-right: 2em;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: .2s all ease
}

.catNav li.active, .catNav li:hover {
	color: #eb4b4b;
	border-bottom-color: #eb4b4b
}

.catNav li a:hover {
	color: #eb4b4b
}

.count {
	font-size: 15px;
	color: #009E74;
	font-weight: bold;
	padding-left: 40px;
}
.thisweek{
    font-weight: bold;
    padding-left: 48px;
    font-size: 15px;
    margin-top: 25px;
}
.title {
	font-weight: 400;
	margin-bottom: 1.8rem;
	margin-bottom: 3rem;
	padding-top: 1.2rem;
}

span strong {
	font-size: 20px;
}

.project {
	border: 1px solid;
	height: 450px;
	width: 30%;
	margin: 10px 15px 20px 15px;
	float: left;
}

.project-pre {
	height: 84%;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	margin: 15px 10px 10px 10px;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	text-align: left;
}

.img-pre {
	width: 100%;
	height: 40%;
}

.img-pres {
	width: 100%;
	height: 45%;
}

.img-in {
	width: 100%;
	height: 100%;
}

#preview_progressbarTW_img {
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-left-radius: 8px;
	-moz-border-top-right-radius: 8px;
}

.pcontent {
	padding: 10px;
	margin-bottom: 10px;
	height: 160px;
	overflow: hidden;
}

.pcontent-pre {
	padding: 10px;
	margin-bottom: 10px;
	height: 160px;
	overflow: hidden;
}

.title-content {
	color: #000;
	font-weight: 700;
}

.excerpt {
	font-size: .75rem;
	margin-top: 10px;
	word-break: break-all;
	text-align: justify;
}

.downMeta {
	padding: 10px;
	position: static;
}

.downMeta-pre {
	padding: 10px;
	position: static;
}

.goalMoney {
	font-size: 15px;
	margin-bottom: 15px;
	font-weight: 850;
	font-family: Roboto, sans-serif;
}

.osmfont {
	font-family: Oswald, sans-serif;
}

.osmfont:before {
	content: "$ ";
	font-size: 12px;
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

#pre-amount:before {
	margin-right: -5px;
	content: "$ ";
	font-family: Roboto, sans-serif;
	font-weight: 700;
}

#pre-amount {
	padding-left: 10px;
}

.goalMoney, .goalpercent {
	font-family: Roboto, sans-serif;
}

.goalpercent {
	font-size: 15px;
	font-weight: 850;
	padding-left: 10px;
	position: relative;
}

.fa-pull-right, .pull-right {
	float: right;
	font-family: Roboto, sans-serif;
}

.small, small {
	font-size: 85%;
	font-family: Roboto, sans-serif;
}

.pull-right {
	font-weight: 700;
	float: right !important;
	font-family: Roboto, sans-serif;
	float: right !important;
}

progress {
	/* 	position: absolute; */
	width: 100%;
	height: 1.3rem;
	border: 2px solid #d9d9d9;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin-top: 20px;
	margin-bottom: 10px;
	/* 	border-radius: 1rem; */
	-webkit-apperance: none;
}

.progress-pre {
	width: 100%;
	height: 1.3rem;
	border: 2px solid #d9d9d9;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	margin-top: 20px;
	-webkit-apperance: none;
}

::-webkit-progress-bar {
	border: 2px solid #fff;
	background-color: #d9d9d9;
	border-radius: 1rem;
}

::-webkit-progress-value {
	background-color: #eb4b4b;
	border-radius: 1rem;
}

.visitcount {
	display: none;
}
/* 元素前方圖標  */
.bluequote:before {
	position: relative;
	left: -5px;
	top: 1px;
	content: "";
	display: inline-block;
	height: 12px;
	width: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #00bbd6;
}

.goalpercent:before {
	position: relative;
	left: -5px;
	top: 1px;
	content: "";
	display: inline-block;
	height: 12px;
	width: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #00bbd6;
}
.thisweek:before{
	position: relative;
	left: -5px;
	top: 1px;
	content: "";
	display: inline-block;
	height: 12px;
	width: 3px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #00bbd6;
}
/* create project   */
.top-title {
	font-family: Microsoft JhengHei;
	padding: 15px;
	font-weight: 900;
	font-size: 16px;
	letter-spacing: 2.6px;
	padding-bottom: 5px;
	border-bottom: 4px solid transparent;
	transition: .2s all ease;
	border-color: #FF0000
}

.create-content {
	width: 55%;
	margin: 0px auto;
}

.upload-image, .create-goal, .create-type, .create-city, .chose-music,
	.limit-date {
	width: 60%;
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 700;
}

.create-title, .create-description {
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
	font-weight: 700;
}

.next-reward {
	width: 40%;
	margin: 50px auto;
	padding-top: 10px;
	padding-left: 10px;
	font-weight: 700;
}

.bluequote {
	text-align: left;
	color: #00bbd6;
	padding-left: 8px;
	line-height: 2rem;
	position: relative;
	letter-spacing: 1px;
}

.blue-pre {
	margin: 10px 10px 10px 10px;
	padding-top: 10px;
	text-align: left;
	font-weight: 700;
}

.input-label {
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 1.1px;
	text-align: justify;
	color: #4a4a4a;
	margin-top: 10px;
}

.input-label-img {
	font-size: 12px;
	line-height: 1.67;
	letter-spacing: 1.1px;
	text-align: justify;
	color: #4a4a4a;
}

.form-control {
	font-size: 13px;
	letter-spacing: 1.2px;
	text-align: left;
	color: #000;
	padding-left: 20px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid #e4e4e4;
}

.fc {
	height: 40px;
}

.next:hover {
	background-color: #e61d1d;
	color: #fff;
}

.next {
	text-align: center;
	color: #f7f7f7;
	background-color: #eb4b4b;
}

option {
	font-family: Microsoft JhengHei;
	font-size: 15px;
}
/* 上傳圖片 */
input[type="file"] {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.custom-file-upload {
	text-align: center;
	display: inline-block;
	padding: 6px 12px;
	cursor: pointer;
	width: 100%;
	height: 30px;
	line-height: 20px;
	color: #888;
	background: #fafafa;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.custom-file-upload:hover {
	color: #444;
	background: #eee;
	border-color: #ccc;
	text-decoration: none
}

/* 預計寄送時間 */
.locate {
	font-size: 12px;
	margin-bottom: 0px;
	color: #9b9b9b;
}

.estimated {
	font-size: 12px;
	margin-bottom: 0px;
	color: #9b9b9b;
}

.estimated-font {
	font-family: Microsoft JhengHei;
	font-weight: 900;
}
/* 回饋頁面按鈕 */
.create-reward input {
	margin: 0 15px 0 15px;
	display: inline-block;
	width: 28%;
}

.create-reward {
	text-align: center;
	margin: 50px auto;
	padding-top: 10px;
	font-weight: 700;
	width: 60%;
}

.editProject {
	text-align: center;
	margin: 50px auto;
	padding-top: 10px;
	font-weight: 700;
	width: 60%;
}

.editProject input {
	margin: 0 15px 0 15px;
	display: inline-block;
	width: 28%;
}

.allproject {
	display: inline-block;
	width: 27%;
	height: 420px;
	margin: 15px 22px;
}